/* PAGINATION */
/* Default pagination button style */
.pagination > li > a {
    background-color: white;
    color: #FF6500;
    transition: border-color .3s;
}

/* When the mouse is over the pagination button or when it is focused */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #FF6500;
    background-color: white;
    border: solid 1px #FF6500;
}

/* Active pagination button style */
.pagination > .active > a {
    color: white;
    background-color: #FF6500 !important;
    border: solid 1px #FF6500 !important;
}

/* When the mouse is over the active pagination button */
.pagination > .active > a:hover {
    background-color: #FF6500 !important;
    border: solid 1px #FF6500;
}

/* Style for the active span element */
.pagination > .active > span {
    color: white;
    background-color: #FF6500 !important;
    border: solid 1px #FF6500 !important;
}

/* When the mouse is over the active span element */
.pagination > .active > span:hover {
    background-color: #FF6500 !important;
    border: solid 1px #FF6500;
}