h1 {
    font-family: "Ubuntu", sans-serif;
}

.login-border-color {
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #FF6500;
}

.signup-border-color {
    color: #fff;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #5cb85c;
}


/* BUTTON */
.btn-outline-primary {
    border-color: #FF6500 !important;
    color: #FF6500 !important;
}

.btn-outline-primary:hover {
    background-color: #FF6500 !important;
    color: #fff !important;
    border-color: #FF6500 !important;
}

/* When the button is clicked, the color changes */
.btn-outline-primary:active {
    background-color: #FF6500 !important;
    color: #fff !important;
    border-color: #FF6500 !important;
    box-shadow: 0 0 0 .2rem #ffa970 !important;
}

.btn-outline-primary:focus {
    background-color: #FF6500 !important;
    color: #fff !important;
    border-color: #FF6500 !important;
    box-shadow: 0 0 0 .2rem #ffa970 !important;
}

.nav-bg-color {
    background-color: #FF6500;
}

.card-img-square {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.my_page_profile_size {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

/* offcanvas size */
#offcanvasWithBothOptions {
    width: 15rem;
  }

/* Default radio button style */
input[type="radio"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
    transition: all 0.3s ease;
}

/* When the radio button is checked, the style changes */
input[type="radio"]:checked {
    border-color: #FF6500;
    background-color: #FF6500;
}

/* When the mouse is over the radio button, the style changes */
input[type="radio"]:hover {
    border-color: #FF6500;
}

/*
active: When the radio button is clicked, the style changes
focus: When the radio button is focused, the style changes
*/
input[type="radio"]:active,
input[type="radio"]:focus {
    box-shadow: 0 0 0 .2rem #ffa970
}