{% extends 'partial/header.html' %}

{% block content %}

<form action="{{ url_for('posts.add_new_products_post') }}" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
    <div class="container pb-5" style="max-width: 795px;">
        <div class="row d-flex align-items-center justify-content-center mt-5 px-3">
            <div class="text-danger text-center">
                {% include 'partial/flash.html' %}
            </div>
            <div class="mb-3">
                <label for="title" class="form-label fw-bold">{{ form.title.label }}</label>
                {{ form.title(class="form-control", id="title", placeholder="글 제목", required=True) }}
                <div class="invalid-feedback">제목을 입력해주세요.</div>
            </div>
            <div class="mb-3">
                <label for="formPrice" class="form-label fw-bold">{{ form.price.label }}</label>
                <div class="input-group">
                    <span class="input-group-text">₩</span>
                    {{ form.price(class="form-control", id="formPrice", placeholder="가격을 입력해주세요.", required=True) }}
                    <div class="invalid-feedback">가격을 입력해주세요.</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label fw-bold">{{ form.category.label }}</label>
                {{ form.category(class="form-select", id="category", required=True) }}
                <div class="invalid-feedback">카테고리를 선택해주세요.</div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label fw-bold">사진 선택</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="fileNameInput" placeholder="선택된 파일 이름이 여기에 표시됩니다" readonly>
                    <input type="file" name="files" class="form-control" id="formFileMultiple" multiple style="display: none;">
                    <button type="button" class="btn btn-outline-primary" id="selectFilesButton">파일 선택</button>
                </div>
                <small id="fileCountMessage" class="text-muted">최대 10개의 파일을 선택할 수 있습니다.</small>
            </div>
            <div class="mb-3">
                <label for="textarea" class="form-label fw-bold">{{ form.textarea.label }}</label>
                {{ form.textarea(class="form-control", id="textarea", rows="5", required=True) }}
                <div class="invalid-feedback">내용을 입력해주세요.</div>
            </div>
            <div class="d-flex justify-content-end">
                <button id="saveButton" class="btn btn-outline-primary">Submit</button>
            </div>
        </div>
    </div>
</form>

<script src="{{ url_for('static', filename='javascripts/file_upload_handler.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/form_submit_handler.js') }}"></script>

{% endblock %}