{% extends 'partial/header.html' %}

{% block content %}
<div class="container pb-5">
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <div class="text-danger text-center">
            {% include 'partial/flash.html' %}
        </div>
        <h1>비밀번호 변경</h1>
        <form action="{{ url_for('users.change_password') }}" method="POST">
            {{ form.csrf_token }}
                {% if authenticated %}
                    <p>새로운 비밀번호를 입력해주세요.</p>
                    <div class="mb-3">  
                        {{ change_password_form.new_password(class="form-control", placeholder="New Password", required=True) }}
                    </div>
                    <div class="mb-3">
                        {{ change_password_form.submit(class="btn btn-outline-primary") }}
                    </div>
                {% else %}
                    <p>계속하려면 먼저 본인임을 인증하세요.</p>
                    <div class="mb-3">
                        {{ form.email(class="form-control", placeholder="Email", required=True) }}
                    </div>
                    <div class="mb-3">
                        {{ form.password(class="form-control", placeholder="Password", required=True) }}
                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-outline-primary") }}
                    </div>
                {% endif %}
        </form>
    </div>
</div>

{% endblock %}

