{% extends 'partial/header.html' %}

{% block content %}
<div class="row d-flex align-items-center justify-content-center mt-5">
    <div class="text-danger text-center">
        {% include 'partial/flash.html' %}
    </div>
    <h1 class="text-center">{{ name }}님의 마이페이지 입니다.</h1>
</div>

<!-- 메뉴 추가  -->
<div class="row d-flex flex-column align-items-center justify-content-center mt-4">
    <div class="menu text-center">
        <h2 class="mb-4">My Menu</h2>  <!-- 메뉴 제목 추가 -->
        <div class="mb-3">
            <a href="{{ url_for('users.profile_edit') }}" class="text-muted text-decoration-none h5">개인 설정</a>
        </div>
        <hr class="mb-3" style="width: 50%; margin: 0 auto;">
        <div class="mb-3">
            <a href="{{ url_for('users.my_post') }}" class="text-muted text-decoration-none h5">나의 상품</a>
        </div>
        <hr class="mb-3" style="width: 50%; margin: 0 auto;">
        <div class="mb-3">
            <a href="{{ url_for('users.like_post') }}" class="text-muted text-decoration-none h5">좋아요</a>
        </div>
        <hr class="mb-3" style="width: 50%; margin: 0 auto;">
    </div>
</div>

{% endblock %}