{% extends 'partial/header.html' %}

{% block content %}

<div class="row d-flex align-items-center justify-content-center mt-5">
    <div class="text-danger text-center">
        {% include 'partial/flash.html' %}
    </div>
    <h1 class="text-center">{{ name }}님의 마이페이지 입니다.</h1>
</div>

<div class="row d-flex flex-column align-items-center justify-content-center mt-4">
    <div class="text-center">
        <form action="{{ url_for('users.upload_profile_image', user_id=current_user.id) }}" enctype="multipart/form-data"
              method="post" class="mt-4 mb-3">
            <div class="d-flex flex-column align-items-center">
                <div class="mb-3" id="image_preview" data-bs-toggle="modal" data-bs-target="#imageModal"">
                    <img id="preview_img" class="rounded-circle border shadow-sm my_page_profile_size" data-original-src="{{ current_user.profile_image_name }}"
                    src="{{ current_user.profile_image_name }}">
                </div>
                <div class="d-flex align-items-center mt-3">
                    <a href="#" id="profile_edit_btn" class="btn btn-outline-warning">편집</a>
                    <input id="file_input" name="img" type="file" class="form-control d-none" onchange="toggleSubmitButton()">
                    <button id="saveButton" type="submit" class="btn btn-outline-warning ms-2" disabled>변경하기</button>
                </div>
            </div>
        </form>
        <hr class="mb-3" style="width: 50%; margin: 0 auto;">
        <div class="text-center mb-3">
            <a href="{{ url_for('users.change_password') }}" class="btn btn-outline-warning">비밀번호 변경</a>
        </div>
        <hr class="mb-3" style="width: 50%; margin: 0 auto;">
        <div class="text-center mb-3">
            <a href="{{ url_for('users.delete_account') }}" class="btn btn-outline-danger">회원탈퇴</a>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <img src="{{ current_user.profile_image_name }}" class="img-fluid" alt="큰 이미지" style="width: 100%; height: auto;">
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='javascripts/user_profile_upload.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/form_submit_handler.js') }}"></script>

{% endblock %}