<footer class="footer py-3 mt-auto pb-0">
    <div class="border-top bg-body-tertiary">
        <div class="d-flex justify-content-center align-items-center mt-3">
            <span class="text-muted mb-3">&copy; Resale HUB 2025</span>
        </div>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="/static/javascripts/validateForms.js"></script>